<!DOCTYPE html>
<html lang="ko">
<head>
    <title>뉴스트링</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>    
    <!-- <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet"> -->
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="shortcut icon" href="https://newsstring.run.goorm.io/favicon.ico">
    
    <style>
        .issue_image{
            width:100%;
            height:100%;
            object-fit:contain;
            border-radius:10px;
        }
    </style>
</head>
<body>
    <div class="header" style="margin-left:10px;margin-right:10px;">
        <div class="header header_common" style=margin-left:auto></div>
        <div class="header header_common" >
            <a href="http://newsstring.run.goorm.io/">
                <img src="./static/image/newstring_logo.png" alt="My Image" width="210" height="60" style="margin-top:20px;">
            </a>
            
            <!-- <h1 style="margin-top:40px;">NewString</h1> -->
        </div>
        <div class="header header_common" style=margin-right:auto;>
            <!-- <input type="button" value="구독" id="extraction" style=position:relative;top:40px;> -->
        </div>
    </div>
    
    <div class="category">
        <h3>⭐ 내가 구독중인 이슈</h3>
    </div>
    
    <div class="subscribe" style="margin-left:10px;margin-right:10px;" id="page_1_item_01"><!--맨처음 페이지에서만 사용-->
        <div class="article_common">
            <div class="article_common subscribe_item_top">
                <img src="https://image.news1.kr/system/photos/2021/9/23/4983991/article.jpg/dims/optimize" alt="My Image" class="issue_image">
            </div>
            <div class="article_common subscribe_item_bottom">
                <h2>
                    오징어게임
                </h2>
                <h6>
                    구독자수
                </h6>
            </div>
        </div>
        <div style="width:30px"></div>
        <div class="article_common">
            <div class="article_common subscribe_item_top">
                <img src="http://image.kmib.co.kr/online_image/2021/1006/2021091419224042984_1631614960_0016335120.jpg" alt="My Image" class="issue_image">
            </div>
            <div class="article_common subscribe_item_bottom">
                <h2>
                    고발사주 의혹
                </h2>
                <h6>
                    구독자수
                </h6>
            </div>
        </div>
        <div style="width:30px"></div>
        <div class="article_common">
            <div class="article_common subscribe_item_top">
                <img src="https://img.sbs.co.kr/newimg/news/20210929/201595715.jpg" alt="My Image" class="issue_image">
            </div>
            <div class="article_common subscribe_item_bottom">
                <h2>
                    북한 미사일 발사
                </h2>
                <h6>
                    구독자수
                </h6>
            </div>
        </div>
        <div style="width:30px"></div>
        <div class="article_common">
            <div class="article_common subscribe_item_top">
                <img src="https://img.hani.co.kr/imgdb/resize/2018/0731/00501244_20180731.JPG" alt="My Image" class="issue_image">
            </div>
            <div class="article_common subscribe_item_bottom">
                <h2>
                    말레이 항공기 실종
                </h2>
                <h6>
                    구독자수
                </h6>
            </div>
        </div>

    </div>
    
    <!-- 아직 버튼 id 안정함 -->
    <div class="move_page_n_btn"> 
        <button type="button" id="" class="button hover3" style="float: left;">◀</button>
        <!-- <span>○●</span> -->
        <button type="button" id="" class="button hover3" style="float: right;">▶</button>
    </div>
    
    <div class="category">
        <h3>🎯 취향저격 이슈</h3>
    </div>
    
    <div class="subscribe" style="margin-left:10px;margin-right:10px;" id="page_1_item_01"><!--맨처음 페이지에서만 사용-->
        <div class="article_common">
            <div class="article_common subscribe_item_top">
                <img src="https://cphoto.asiae.co.kr/listimglink/9/2021051313455534109_1620881156.jpg" alt="My Image" class="issue_image">
            </div>
            <div class="article_common subscribe_item_bottom">
                <h2>
                    온라인 플랫폼 규제
                </h2>
                <h6>
                    구독자수
                </h6>
            </div>
        </div>
        <div style="width:30px"></div>
        <div class="article_common">
            <div class="article_common subscribe_item_top">
                <img src="https://flexible.img.hani.co.kr/flexible/normal/773/458/imgdb/original/2021/1001/20211001502604.jpg" alt="My Image" class="issue_image">
            </div>
            <div class="article_common subscribe_item_bottom">
                <h2>
                    남중국해 분쟁
                </h2>
                <h6>
                    구독자수
                </h6>
            </div>
        </div>
        <div style="width:30px"></div>
        <div class="article_common">
            <div class="article_common subscribe_item_top">
                <img src="https://img.segye.com/content/image/2021/10/04/20211004511040.jpg" alt="My Image" class="issue_image">
            </div>
            <div class="article_common subscribe_item_bottom">
                <h2>
                    미얀마 쿠테타
                </h2>
                <h6>
                    구독자수
                </h6>
            </div>
        </div>
        <div style="width:30px"></div>
        <div class="article_common" id="page_1_recommendation_item"><!-- style="display:none; 테스트-->
            
            <div class="article_common subscribe_item_top">
                
                <img src="https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/202110/06/9ee5aa40-bef7-4770-b62a-f8f009a3899c.jpg" alt="My Image" class="issue_image">
            </div>
            <div class="article_common subscribe_item_bottom">
                <h2>
                    아프간 점령
                </h2>
                <h6>
                    구독자수
                </h6>
            </div>
        </div>

    </div>
    
    <!-- 아직 버튼 id 안정함 -->
    <div class="move_page_n_btn"> 
        <button type="button" id="" class="button hover3" style="float: left;">◀</button>
        <!-- <span>○●</span> -->
        <button type="button" id="" class="button hover3" style="float: right;">▶</button>
    </div>
    
    <div class="category">
        <h3>🔥 지금 뜨는 이슈</h3>
    </div>
    
    <div class="subscribe" style="margin-left:10px;margin-right:10px;" id="page_1_item_01"><!--맨처음 페이지에서만 사용-->
        <div class="article_common">
            <div class="article_common subscribe_item_top">
                <img src="https://image.ajunews.com/content/image/2021/10/05/20211005102415831226.jpg" alt="My Image" class="issue_image">
            </div>
            <div class="article_common subscribe_item_bottom">
                <h2>
                    구멍난 전자발찌 관리 감독
                </h2>
                <h6>
                    구독자수
                </h6>
            </div>
        </div>
        <div style="width:30px"></div>
        <div class="article_common">
            
            <div class="article_common subscribe_item_top">
                <img src="http://res.heraldm.com/content/image/2021/10/06/20211006000477_0.jpg" alt="My Image" class="issue_image">
            </div>
            <div class="article_common subscribe_item_bottom">
                <h2>
                    쌍용차 인수
                </h2>
                <h6>
                    구독자수
                </h6>
            </div>
        </div>
        <div style="width:30px"></div>
        <div class="article_common">
            
            <div class="article_common subscribe_item_top">
                <img src="https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/202110/05/15bd9aaa-a4b3-4820-aa28-e3264afb0193.jpg" alt="My Image" class="issue_image">
            </div>
            <div class="article_common subscribe_item_bottom">
                <h2>
                    코로나 치료제
                </h2>
                <h6>
                    구독자수
                </h6>
            </div>
        </div>
        <div style="width:30px"></div>
        <div class="article_common">
            
            <div class="article_common subscribe_item_top">
                <img src="https://dimg.donga.com/wps/NEWS/IMAGE/2021/10/06/109554860.2.jpg" alt="My Image" class="issue_image">
            </div>
            <div class="article_common subscribe_item_bottom">
                <h2>
                    헝다 위기
                </h2>
                <h6>
                    구독자수
                </h6>
            </div>
        </div>
    </div>

    <!-- 아직 버튼 id 안정함 -->
    <div class="move_page_n_btn"> 
        <button type="button" id="" class="button hover3" style="float: left;">◀</button>
        <!-- <span>○●</span> -->
        <button type="button" id="" class="button hover3" style="float: right;">▶</button>
    </div>

    <!-- <div class='footer' id="footer_btn_div">
        <div class="footer footer_common" style=margin-right:auto>
            <button type="button" id="time_line" class="button hover3">타임라인</button>
        </div>

        <div class="footer footer_common" style=margin-left:auto>
            <button type="button" id="similar_articles" class="button hover3">유사기사</button>
        </div>
    </div> -->

</body>
</html>